<div class="bg-dark text-light text-center">
    <h1 class="display-4 smiley">Join our Events</h1>
    <p class="lead">&#169; Midajew Cooperation & Co 2023</p>
    <p class="text-light m-0">Website created by Achmed Midajew |
        <a class="github-link " href="https://github.com/achmed124/" target="_blank">GitHub</a>
        <hr>
    </p>
</div>